---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
NamespaceIndentation: None
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false

# Include order: own header, then fumar/, then third party, then std
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"fumar/'
    Priority: 2
  - Regex: '^<(vulkan|SDL3|vk_mem_alloc)'
    Priority: 3
  - Regex: '^<'
    Priority: 4
SortIncludes: CaseSensitive
